* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;

    .collapseDiv {
        ul {
            margin: auto;
            justify-content: space-between;
            gap: 10px;
            font-size: 16px;
            font-weight: 600;

        }

    }
}

#MeetingAndConference {
    width: 100%;
    height: 500px;
    background-image: url(/img/hero-bg.jpg);
background-attachment: fixed;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    padding: 30px;

    .container {
        .meetingText {
            padding: 30px;
            color: white;

            h1 {
                font-size: 40px;
                padding-top: 10px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }

            p {
                font-size: 20px;
                padding-top: 10px;
            }

            .buttonDiv {
                padding-top: 30px;

                button {
                    padding: 15px 30px 15px 30px;
                    border: none;
                    border-radius: 30px;
                    background-color: #3DB554;
                    box-shadow: 0 0 5px #3DB554, 0 0 25px #3DB554;

                    color: white;
                    font-weight: 500;
                }

                button:hover {
                    box-shadow: 0 0 5px #3DB554, 0 0 25px #3DB554, 0 0 50px #3DB554;
                    transition: 0.2s;
                }
            }

            .divIcon {
                padding-top: 30px;
                margin-top: 30px;
                padding-left: 15px;
                display: flex;
                gap: 10px;
            }
        }

        .meetingImg {
            padding: 30px;
        }
    }

}



#MakeYourWorkplace {
    width: 100%;

    .container {
        .row {
            .workplaceText {
                padding: 30px;
                text-align: center;

                h5 {
                    color: grey;
                    font-weight: 400;
                    padding-top: 10px;
                }

                h2 {
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    color: rgb(255, 136, 0);
                }
            }

            .workplaceImg {
                padding: 30px;

                img {
                    max-width: 100%;
                }

                p {
                    text-align: center;
                    padding-top: 10px;
                }
            }

            .workplaceButton {
                text-align: center;
                padding-bottom: 30px;

                button {
                    align-items: center;
                    justify-content: center;
                    padding: 15px 30px 15px 30px;
                    border: none;
                    border-radius: 30px;
                    background-color: rgb(255, 136, 0);
                    box-shadow: 0 0 5pxrgb(255, 136, 0), 0 0 25px rgb(255, 136, 0);
                    color: white;
                    font-weight: 500;

                }

                button:hover {
                    box-shadow: 0 0 5px rgb(255, 136, 0), 0 0 25px rgb(255, 136, 0), 0 0 50px rgb(255, 136, 0);
                    transition: 0.2s;
                }
            }
        }
    }
}



#BookYourMeeting {
    width: 100%;
    background-color: #F7F8F9;

    .container {
        .row {
            .meetingtext {
                padding: 30px;
                text-align: center;

                h2 {
                    padding-top: 30px;
                    color: rgb(255, 136, 0);
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                }

                h5 {
                    color: grey;
                    font-weight: 400;
                }
            }

            .meetingRow {
                text-align: center;

                h4 {
                    padding-top: 20px;
                    color: rgb(255, 136, 0);
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                }

                p {
                    padding-top: 10px;
                }

                img {
                    max-width: 40%;
                }
            }

            .meetButton {
                text-align: center;
                padding-top: 30px;
                padding-bottom: 30px;

                button {
                    padding: 15px 30px 15px 30px;
                    border: none;
                    border-radius: 30px;
                    background-color: #3DB554;
                    box-shadow: 0 0 5px #3DB554, 0 0 25px #3DB554;

                    color: white;
                    font-weight: 500;
                }

                button:hover {
                    box-shadow: 0 0 5px #3DB554, 0 0 25px #3DB554, 0 0 50px #3DB554;
                    transition: 0.2s;
                }
            }
        }
    }
}



#tableSec {
    width: 100%;
    background-color: #F7F8F9;

    .container {
        .row {
            .tableSecImg {
                padding-top: 30px;

                img {
                    max-width: 100%;
                }
            }
        }
    }
}






#optimizeYourMeeting {
    width: 100%;
    background-color: #F7F8F9;
    padding-bottom: 30px;

    .container {
        .row {
            .optimizeText {
                text-align: center;
                padding: 30px;

                h2 {
                    padding-top: 20px;
                    color: rgb(255, 136, 0);
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                }

                h5 {
                    color: grey;
                    font-weight: 400;
                    padding-top: 10px;
                }
            }

            .optimizeRow {
                text-align: center;

                h4 {
                    color: #3DB554;
                    padding-bottom: 20px;
                }

                p {
                    color: rgb(102, 102, 102);
                }
            }

            .bonsaiImg {
                padding-top: 30px;

                img {
                    padding-top: 30px;
                    max-width: 100%;
                }
            }
        }
    }
}






#securityAndconnectivity{
    width: 100%;
    padding-top: 30px;
    background-color: #F6F7F8;
    .container{
        .row{
.securityText{
    text-align: center;
    h2{
        padding-top: 20px;
        color: rgb(255, 136, 0);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    h5{
        color: grey;
        padding-top: 10px;
        font-weight: 400;
    }
}
.securityImg{
    padding-top: 30px;
    padding-bottom: 30px;
    img{
        max-width: 30%;
    }
}


.connectivityImg{
    img{
        max-width: 100%;
    }
}
.yourData{
    padding-top: 30px;
    margin-top: 30px;
   h3{
    color: #3DB554;
    padding-bottom: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
   }
   h5{
    color: grey;
    padding-bottom: 30px;
    font-weight: 300;
   }
   .dataDiv{
   padding-bottom: 20px;
   
   }
   span{
    font-size: 12px;
    color: rgb(117, 117, 117);
    font-weight: 700;
   }
}

        }
    }







    #FlexibleIntegration{
        width: 100%;
        padding-top: 30px;
        background-color: #F6F7F8;
        .container{
            .row{
    .flexibleText{
      
        h3{
            padding-top: 20px;
            color: rgb(255, 136, 0);
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        h4{
            color: grey;
            padding-top: 10px;
            font-weight: 300;
        }
        p{
            padding-top: 30px;
        }
        span{
            font-size: 12px;
            color: rgb(117, 117, 117);
            font-weight: 700;
            padding-bottom: 20px;
           }
           .logoImg{
            padding-top: 20px;
            padding-bottom: 20px;
            display: flex;
            gap: 25px;
            img{
                max-width: 20%;
                
            }
           }
    }
    
    
    
    }
    
            }
    }










// #apisection {
//     .divbtn {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         padding-top: 20px;

//         #btn {

//             font-size: 15px;
//             background-color: black;
//             color: white;
//             font-weight: bolder;
//             padding: 10px;
//             border: none;

//         }

//         #btn:hover {
//             background-color: white;
//             color: black;
//             border: 1px solid black;
//             transition: 0.5s;
//         }
//     }



//     .container {
//         width: 95%;

//         .row {
//             margin-top: 30px;
//             margin-bottom: 30px;
//             padding: 30px;

//             .apitext {
//                 align-items: center;
//                 justify-content: center;
//                 text-align: center;
//                 padding: 30px;

//                 h2 {
//                     font-size: 35px;
//                     padding: 20px;
//                     font-weight: 800;
//                 }

//                 span {
//                     color: grey;
//                     font-size: 18px;
//                     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
//                 }

//                 p {
//                     padding: 20px;
//                     color: grey;
//                     font-size: 17px;
//                 }

//             }

//             .buttons {
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 gap: 10px;
//                 margin-bottom: 30px;

//                 input {
//                     width: 90px;
//                     height: 33px;
//                     padding-left: 20px;
//                     border: 1px solid black;
//                     outline: none;

//                     #inpp {
//                         padding: 10px;
//                     }
//                 }

//                 button {
//                     font-size: 15px;
//                     background-color: black;
//                     color: white;
//                     font-weight: bolder;
//                     padding: 5px;
//                     border: none;
//                     margin-left: -10px;

//                     button:hover {
//                         background-color: white;
//                         color: black;

//                     }


//                 }

//                 button:hover {
//                     background-color: rgb(255, 255, 255);
//                     color: #000000;
//                     transition: 0.5s;

//                 }
//             }





//             #apidiv {
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 flex-wrap: wrap;
//                 gap: 30px;
//                 padding: 5px;
//                 border-radius: 10px;

//                 .boxDiv {
//                     display: flex;
//                     flex-direction: column;
//                     align-items: center;
//                     justify-content: center;
//                     border: 0.5px solid#414040;
//                     border-radius: 10px;
//                     padding: 30px;
//                     text-align: center;

//                     .addtobasketbtn {
//                         font-size: 15px;
//                         background-color: black;
//                         color: white;
//                         border-radius: 5px;
//                         font-weight: bolder;
//                         padding: 10px;
//                         border: none;

//                     }

//                     .addtobasketbtn:hover {
//                         background-color: white;
//                         color: #000000;
//                         transition: 0.5s;

//                     }
//                 }
//             }
//         }
//     }

// }